* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Primary-color: hsl(75, 94%, 57%);
    --white-color: hsl(0, 0%, 100%);
    --grey-color: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    color: var(--white-color);
    font-family: "Inter", sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    background-color: var(--off-black);
}

.card {
    border-radius: 1rem;
    background: var(--dark-grey);
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    height: 39rem;
    width: 24rem;
    border: 2px solid var(--off-black);
}

img {
    position: relative;
    bottom: 1rem;
    border-radius: 50%;
    width: 5.5rem;
}

h2 {
    position: relative;
    bottom: 0.5rem;
    font-weight: 400;
}

.card__city {
    color: var(--Primary-color);
    position: relative;
    top: -1rem;
}

.card__description {
    position: relative;
    top: 0.5rem;
}

.card__link {
    border-radius: 0.5rem;
    background-color: var(--grey-color);
    color: var(--white-color);
    display: grid;
    place-content: center;
    position: relative;
    top: 1rem;
    text-decoration: none;
    width: 19rem;
    height: 3rem;
}

.card__link:hover {
    background-color: var(--Primary-color);
    transition: 0.3s ease-in-out;
    color: var(--off-black);
}
